<aside class="sidebar">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">My Todo List </div>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/home']"  [queryParams]="{filter: 'all'}" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-inbox" aria-hidden="true"></i> Inbox (9)</a>
      <a [routerLink]="['/home']"  [queryParams]="{filter: 'started'}" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-star" aria-hidden="true"></i>
        Started (5)</a>
      <a  [routerLink]="['/home']" [queryParams]="{filter: 'customCat'}" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Custom Category (4)</a>
      <a   [routerLink]="['/home']" [queryParams]="{filter: 'personalCat'}" class="list-group-item list-group-item-action bg-light">
       <i class="fa fa-reddit" aria-hidden="true"></i>
        Personal Category (3)</a>
      <br>
      <a  [routerLink]="['/home']" [queryParams]="{filter: 'completed'}" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-check" aria-hidden="true"></i>
        Completed (16)</a>
    </div>
  </div>
</aside>
