<div class="task-item" [ngClass]="{'completed': isCompleted}">
<div class="row">
    <div class="col-md-1">
        <h1 (click)="togleCompleted()">
            <i *ngIf="!isCompleted"class="fa fa-square-o" aria-hidden="true"></i> 
            <i *ngIf="isCompleted"class="fa fa-check-square-o" aria-hidden="true"></i>
        </h1>
    </div>
    <div class="col-md-8">
        <h2>{{task?.name}}</h2>
    </div>
    <div class="col-md-3">
        <span class="l-label warning ">Due:</span> {{task?.dueDate}}
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <h1 (click)="togleStarted()">
            <i *ngIf="!isStarted" class="fa fa-star-o" aria-hidden="true"></i>
            <i *ngIf="isStarted" class="fa fa-star" aria-hidden="true"></i>
        </h1>
    </div>
    <div class="col-md-8">
        <h4><span class="l-label">Description:</span>{{task?.description}}</h4>
    </div>
    <div class="col-md-3">
        <button type="button" [disabled] ="isCompleted" class="ml-2 btn btn-outline-secondary">
            <i class="fa fa-pencil" aria-hidden="true"></i>Eddit Task
          </button>
    </div>
</div>
<hr>
</div>