
/*----------------------
----- Footer Styles ----
------------------------*/
#main-footer {
    padding-top: 50px;
    padding-bottom: 40px;
    background: rgb(146, 139, 139);
    text-align: center;
    border-top: 10px solid rgb(233, 154, 93); }
  
  #main-footer p {
    color: #fff; }
  
  #main-footer p a {
    color: #fff; }
  
  .social {
    list-style: none;
    display: block;
    padding: 0px; }
  
  .social li {
    display: inline-block; }
  
  .social a {
    display: inline-block;
    color: #fff;
    font-size: 22pt;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #FF6F00;
    border-radius: 50% 50% 0 50%;
    margin-right: 5px;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  
  .social a:hover {
    background: #FFA000;
    border-radius: 50% 50% 50% 50%; }