<footer  class="footer" id="main-footer" style="border-top: 10px solid rgb(255, 111, 0);">
    <div class="container">
        <ul class="social">
            <li class="wow fadeInRight animated" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInRight;">
                <a href="https://www.linkedin.com/in/wellington-aquino-a3338a12a/" style="background: rgb(255, 111, 0);">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li class="wow fadeInRight animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                <a href="https://github.com/waquino814" style="background: rgb(255, 111, 0);">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li class="wow fadeInRight animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
                <a href="https://www.facebook.com/wellington814" style="background: rgb(255, 111, 0);">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="wow fadeInRight animated" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInRight;">
                <a href="https://bitbucket.org/waquino814/" style="background: rgb(255, 111, 0);">
                    <i class="fa fa-bitbucket"></i>
                </a>
            </li>
        </ul>
        
        <p>© 2020 - All rights reserved | Made by <a href="https://waquino814.github.io/resume/src/index.html"> Wellington Aquino M. </a></p>

    </div>

</footer>
