<div class="main-container">
  <app-header class="header"></app-header>
  <app-sitebar class="sidebar"></app-sitebar>
  <main class="main-content">
    <router-outlet ></router-outlet>
  </main>  
  <app-footer class="footer"></app-footer>
</div>
