.main-container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "sidebar header"
    "sidebar main-content"
    "footer footer";

  .sidebar {
    grid-area: sidebar;
    padding-top: 1em;
    padding-left: 1em;
  }

  .main-content {
    padding-left: 1em;
    grid-area: main-content;
    overflow: scroll;
  }

  .header {
    padding-top: 1em;
    padding-left: 1em;
    grid-area: header;
    overflow: hidden;
  }

  .footer {
    grid-area: footer;
    overflow: hidden;
    grid-auto-rows: max-content;
  }
}