<div class="row">
  <div class="col-md-6">
    <h2 (click)="this.router.navigate([''])"> <i [ngClass]="currentCategory?.icon" aria-hidden="true"></i>
      {{currentCategory?.name}}</h2>
    <p> {{currentCategory?.description}}</p>
  </div>
  <div class="col-md-6 pt-3">
    <button type="button" class="btn btn-outline-info">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
    </button>
    <div class="d-inline" *ngIf="id != 'completed'">
      <button type="button" class="ml-2 btn btn-outline-secondary" (click)="this.router.navigate([''])">
        <i class="fa fa-list" aria-hidden="true"></i> Tasks
      </button>
      <button  type="button" class="ml-2 btn btn-outline-secondary" (click)="this.router.navigate(['add'])">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Task
      </button>
      <button type="button" class="ml-2 btn btn btn-outline-secondary" (click)="toggleShowFilter()">
        <i class="fa fa-filter" aria-hidden="true"></i> Filter Tasks
      </button>
    </div>
  </div>
</div>
<div *ngIf="showFilter" class="row pl-3 pr-5">Here will go the filters forms</div>
