.form-add-task{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5em;
    column-gap: 0.5em;
    .task-name{
        
    }
    .due-date{
        .picker .form-control{
            display: inline;
            width: 60%;
        }
    } 
    .description{
        grid-column: 1/3;
    } 
    .category{
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        span{
            width: min-content;
            grid-column: 1/3;
        }
    } 
    .buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/3;
        align-self: end;
        button{
            width: min-content;
        }
    }
}
