<div *ngIf="showSuccessMsg" [ngClass]="{'show': showSuccessMsg}" class="alert alert-success alert-dismissible fade" role="alert">
  <strong>Task created!</strong> The new Task has been added to the list
  <button type="button" class="close" (click)="showSuccessMsg = !showSuccessMsg" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="form-add-task" [formGroup]="createForm">
  <div class="task-name">
      <div class="form-group">
        <label for="" class="l-label">Task Name </label>
        <input type="text" class="form-control" formControlName="name">
      </div>
  </div>
  <div class="due-date">
    <div class="form-group">
        <label for="" class="l-label">Due Date </label>
       <div class="picker">
        <input  class="form-control" matInput [matDatepicker]="picker" formControlName="dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>
  
      </div>
  </div>
  <div class="description">
    <div class="form-group">
      <label class="l-label" for="">Description</label>
      <textarea class="form-control" name="" rows="3" formControlName="description"></textarea>
    </div>

  </div>
  <div class="category">
    <span class="l-label"> Category </span>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="" value="checkedValue" formControlName="customCat">
        Custom Category
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="" value="checkedValue" formControlName="personalCat">
        Personal Category
      </label>
    </div>
  </div>

  <button [disabled]="!createForm.valid" *ngIf="!eddit"type="button" class="ml-2 btn btn-outline-primary" (click)="addTask()">
    <i class="fa fa-plus" aria-hidden="true"></i>  Add
  </button>
  <button *ngIf="eddit" type="button" class="ml-2 btn btn-outline-secondary" (click)="edditTask()">
    <i class="fa fa-pencil" aria-hidden="true"></i>Eddit Task
  </button>
  <button type="button" class="ml-2 btn btn btn-outline-danger" (click)="clearForm()">
    <i class="fa fa-trash" aria-hidden="true"></i> Clear
  </button>

</form>
