/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
body, html {
    height: 100vh;
    margin: 0 auto;
    color:#5a5858;
    box-sizing: border-box;
    font-family: Courgette;
    font-size: 16px;
  }

  .l-label{
      display: inline-block;
      padding: .33333rem .5rem;
      font-size: 1rem;
      line-height: 1;
      white-space: nowrap;
      cursor: default;
      border-radius: 3px;
      background: #009b97;
      color: #fefefe;

  }
  .l-label.warning {
    background:#ffae00;
    color:#fefefe;
   }
